<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Acerca de la P&aacute;gina</title>
	</head>
	<body>
		{{> header}}
		<p>El texto de la p&aacute;gina del proyecto aqu&iacute;</p>

		{{> footer}}
	</body>
</html>